In [4]:
from flask import Flask, render_template 
import pandas as pd
import requests
from bs4 import BeautifulSoup 
from io import BytesIO
import base64
import matplotlib.pyplot as plt

In [31]:
# for page in range(1, 250, 50):
#     print(page)
    
# pages = [str(i) for i in range(1,5)]
# pages

x = [str(i) for i in range(1,101,50)]
x

# url = 'https://www.imdb.com/search/title/?release_date=2019-01-01,2019-12-31&start='+str(page)+'&ref_=adv_nxt'
# page nya itu di bagian loopingnya

['1', '51']

In [ ]:
# buat cangkang
popno = []
titles = []
imdb_ratings = []
metascores = []
votes = []

pages = [str(i) for i in range(1,100,50)]
for page in pages:
    url_get = requests.get('https://www.imdb.com/search/title/?release_date=2019-01-01,2019-12-31&start='+page+'&ref_=adv_nxt')
    soup = BeautifulSoup(url_get.content,"html.parser")
    lister = soup.find_all('div', attrs={'class':'lister-item-content'})

    # ambil data per movie
    for onelist in lister:
    
    # berpatok ke metascore
    # kalau metascore ga none berarti isi masing2 kolom seperti apa?
        if onelist.find('div', class_ = 'inline-block ratings-metascore') is not None:
        
            # urutan
            urut = onelist.h3.span.text
            urut = urut.strip()
            popno.append(urut)
        
            # judul
            title = onelist.h3.a.text
            title = title.strip()
            titles.append(title)
        
            # imdb rating
            ratings = float(onelist.strong.text)
            imdb_ratings.append(ratings)
        
            # metascore
            mscore = onelist.find('div', attrs={'class':'inline-block ratings-metascore'}).span.text
            mscore = int(mscore)/10
            metascores.append(float(mscore))
        
            # votes
            vote = onelist.find('span', attrs={'name':'nv'})['data-value']
            votes.append(int(vote))

        # kalau metascore none berarti isi masing2 kolom seperti apa?
        if onelist.find('div', class_ = 'inline-block ratings-metascore') is None:
        
            # urutan
            urut = onelist.h3.span.text
            urut = urut.strip()
            popno.append(urut)
        
            # judul
            title = onelist.h3.a.text
            title = title.strip()
            titles.append(title)
        
            # imdb rating
            ratings = float(onelist.strong.text)
            imdb_ratings.append(ratings)
        
            # metascore
            mscore = 0.0
            metascores.append(float(mscore))
        
            # votes
            vote = onelist.find('span', attrs={'name':'nv'})['data-value']
            votes.append(int(vote))
        
# dari cangkang yang dah dibuat disusun jadi df
df = pd.DataFrame({
'popularity_order': popno,
'film_title': titles,
'imdb': imdb_ratings,
'metascore': metascores,
'votes': votes
})

print(df.info()) #cek data type
print()
print(df[df['metascore']==0].count())
print()
df

In [45]:
df.groupby('popularity_order').count()

                  film_title  imdb  metascore  votes
popularity_order
1.                         1     1          1      1
10.                        4     4          4      4
11.                        4     4          4      4
12.                        4     4          4      4
13.                        4     4          4      4
14.                        4     4          4      4
15.                        4     4          4      4
16.                        4     4          4      4
17.                        4     4          4      4
18.                        4     4          4      4
19.                        4     4          4      4
2.                         2     2          2      2
20.                        4     4          4      4
21.                        4     4          4      4
22.                        4     4          4      4
23.                        4     4          4      4
24.                        4     4          4      4
25.                        4     4          4      4
26.                        4     4          4      4
27.                        4     4          4      4
28.                        4     4          4      4
29.                        4     4          4      4
3.                         3     3          3      3
30.                        4     4          4      4
31.                        4     4          4      4
32.                        4     4          4      4
33.                        4     4          4      4
34.                        4     4          4      4
35.                        4     4          4      4
36.                        4     4          4      4
37.                        4     4          4      4
38.                        4     4          4      4
39.                        4     4          4      4
4.                         4     4          4      4
40.                        4     4          4      4
41.                        4     4          4      4
42.                        4     4          4      4
43.                        4     4          4      4
44.                        4     4          4      4
45.                        4     4          4      4
46.                        4     4          4      4
47.                        4     4          4      4
48.                        4     4          4      4
49.                        4     4          4      4
5.                         4     4          4      4
50.                        4     4          4      4
51.                        3     3          3      3
52.                        2     2          2      2
53.                        1     1          1      1
6.                         4     4          4      4
7.                         4     4          4      4
8.                         4     4          4      4
9.                         4     4          4      4

In [39]:
df['popularity_order'] = df['popularity_order'].replace('[\.]','',regex=True).astype('int64')
df

,popularity_order,film_title,imdb,metascore,votes
0,1,Star Wars: Episode IX - The Rise of Skywalker,6.7,5.3,319739
1,2,The Mandalorian,8.7,0.0,167319
50,2,The Mandalorian,8.7,0.0,167319
2,3,After Life,8.5,0.0,67328
51,3,After Life,8.5,0.0,67328
...,...,...,...,...,...
99,51,The Umbrella Academy,7.9,0.0,98795
148,51,The Umbrella Academy,7.9,0.0,98795
198,52,Prodigal Son,7.7,0.0,8408
149,52,Prodigal Son,7.7,0.0,8408
199,53,Booksmart,7.2,8.4,76280

In [ ]:
df['film_title'] = df['film_title'].replace('Gisaengchung','Parasite')
df = df.sort_values('popularity_order', ascending=True)
df = df.drop(columns='popularity_order').set_index('film_title').head(7)
df

In [ ]:
df.drop(columns='votes').plot(kind='barh', width=0.5, align='center').legend(bbox_to_anchor=(1,1), loc=2)

In [47]:
pagestry = [str(i) for i in range(1,100,50)]

In [ ]:
from requests import get

# Redeclaring the lists to store data in
popno = []
titles = []
imdb_ratings = []
metascores = []
votes = []

# For every year in the interval 2000-2017
for year_url in years_url:

    # For every page in the interval 1-4
    for page in pagestry:

        # Make a get request
        response = get('https://www.imdb.com/search/title/?release_date=2019-01-01,2019-12-31&start='+page+'&ref_=adv_nxt')

        # Parse the content of the request with BeautifulSoup
        page_html = BeautifulSoup(response.text, 'html.parser')

        # Select all the 50 movie containers from a single page
        mv_containers = page_html.find_all('div', class_ = 'lister-item mode-advanced')

        # For every movie of these 50
        for container in mv_containers:
            # If the movie has a Metascore, then:
            if container.find('div', class_ = 'ratings-metascore') is not None:

                # urutan
                urut = container.h3.span.text
                urut = urut.strip()
                popno.append(urut)
                
                # Scrape the name
                name = container.h3.a.text
                titles.append(name)

                # Scrape the IMDB rating
                imdb = float(container.strong.text)
                imdb_ratings.append(imdb)

                # Scrape the Metascore
                m_score = container.find('span', class_ = 'metascore').text
                metascores.append(int(m_score))

                # Scrape the number of votes
                vote = container.find('span', attrs = {'name':'nv'})['data-value']
                votes.append(int(vote))
                
# dari cangkang yang dah dibuat disusun jadi df
df = pd.DataFrame({
'popularity_order': popno,
'film_title': titles,
'imdb': imdb_ratings,
'metascore': metascores,
'votes': votes
})

print(df.info()) #cek data type
print()
print(df[df['metascore']==0].count())
print()
df